.MessageList{
    text-align: center;
    color: blueviolet;
    background-color: azure;
}

.MessageListForm{
    margin: 10px;
}

.MessageListInput{
    border-radius: 8%;
    border: 1px solid cyan;
    color: blueviolet;
}

.MessageListBTN{
    border-radius: 20%;
    border: 1px solid azure;
    background: aquamarine;
    margin-left: 10px;
    color: blueviolet;
    cursor: pointer;
}